.showcase {
  width: 500px;
  height: 400px;
  padding: 0 20px;
  padding-top: 15px;
}

.json-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  resize: none;
  outline: none;
}
